/src/main/webapp/.idea
/src/main/webapp/node_modules
/src/main/webapp/jspm_packages
!/src/main/webapp/jspm_packages/system.js
!/src/main/webapp/jspm_packages/system.js.map
/npm-debug.log
/src/main/webapp/bower_components
/src/main/resources/xiefei.properties
/src/main/resources/logback_xiefei.xml
/.idea
build/
classes/
.gradle/
/lib
/Pierce. Package Files #
*.jar
*.wariml
     ### Java template
     *.class
     gradle.properties
     # Mobile Tools for Java (J2ME)
     .mtj.tmp/
*.patch
/src/main/webapp/js/gen/*
!/src/main/webapp/js/gen/build.js.map
!/src/main/webapp/js/gen/build.js
     #
*.ear
!gradle-wrapper.jar
!CustomGenerateStragery.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Created by .ignore support plugin (hsz.mobi)
/Pierce.iml
/src/main/webapp/npm-debug.log
/gradle.properties
/out/